@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
   box-sizing: border-box;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   margin: 0;
   padding: 0;
} *


:root {
   --primary-color: #e24e4e;
   --secondary-color: #000;
   --third-color: #fff;
   --green-dark: #25692A;
   --gray-dark: #212523;
   --red: #ff0000;
}