#combos, .card-body, .list-group-item {
   background-color: #111;
}

.slogan {
   text-align: center;
   padding-top: 30px;
   padding: 20px 0 10px 0;
   font-size: 3em;
}

.card-posicao-imagem {
   object-fit: cover;
   height: 290px;
}

.card-largura {
   max-width: 18rem;
}

.card-titulo {
   font-weight: bold;
   text-decoration: italic;
}

.background-color-especial {
   background-color: #111;
}