.sectionLayout__container--conteudo, .sectionLayout__container--conteudoRight {
   width: 50%;
   padding: 5rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: #111
}

.sectionLayout__container--conteudo {
   align-items: baseline;
}

.sectionLayout__container--conteudoRight {
   align-items: flex-end;
   text-align: right;
}

